.container.flexed {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.margin-auto {
  margin: auto;
}

.form-holder {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.2);
}